/* 폰트 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
html, .tui-editor-contents {
  font-family: 'LotteMartDream', sans-serif !important;
}


/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.none{
  display:none;
}
.flex{
  display:flex;
}
.flex-jc-c{
  justify-content:center
}
.flex-ai-c{
  align-items:center;
}
.flex-ai-end{
  align-items:flex-end;
}
.flex-jc-end{
  justify-content:flex-end;
}
.flex-dr-r{
  flex-direction:row;
}
.flex-dr-c{
  flex-direction:column;
}
.flex-g-1{
  flex-grow:1;
}
.flex-jc-start{
  justify-content:flex-start;
}
.flex-ai-start{
  align-items:flex-start;
}
.flex-inline{
  display: inline-flex
}
.hover-underline:hover {
  text-decoration:underline;
}
.width-100p{
  width:100%;
}
.min-height-100vh{
  min-height:100vh;
}
.con {
  margin-left:auto;
  margin-right:auto;
}

.bg-black {
  background-color:black;
}
.bg-pink{
  background-color:pink;
}
.bl-r{
  border: 2px solid red;
}

.color-white {
  color:white;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.width-100p-except-150px {
  width:calc(100% - 150px);
}

.width-100p-except-200px {
  width:calc(100% - 200px);
}

.width-100p-except-250px {
  width:calc(100% - 250px);
}

.width-100p-except-300px {
  width:calc(100% - 300px);
}
.width-auto{
  width:auto;
}
/* 커스텀 */

body{
  background-color:white;
  color:#A7A7A7;
}
.con-min-width{
  min-width: 900px;
}


/* 메인 메뉴 */
/* side-bar start */

.side-bar {
  height: 100vh;
  width: 100%;
}

.side-bar {
  margin: 0;
  padding: 0;
}

.side-menu {
  overflow: hidden;
  display:none;
  position: relative;
  transform: translateX(-235px);
  height: 100%;
  width: 300px;
  max-width:100%;
  transition: all 800ms cubic-bezier(.8, 0, .33, 1);
  border-radius: 0% 0% 100% 50%;
  position:fixed;
  z-index:20;
}

.side-menu.nav-open {
  transform: translateX(0px);
  border-radius: 0% 0% 0% 0%;
  background: RGBA(34,34,34,0.9);
}

.side-menu .menu-btn {
  position: absolute;
  top: 6px;
  right: 5%;
  padding: 0;
  width: 30px;
  cursor: pointer;
  z-index: 2;
}

.side-menu .menu-btn .line {
  padding: 0;
  width: 30px;
  background: #A7A7A7;
  height: 2px;
  margin: 5px 0;
  transition: all 700ms cubic-bezier(.9, 0, .33, 1);
  z-index: 20;
}

.side-menu .menu-btn .line.line--1 {
  width: 30px;
  transform: rotate(0) translateY(0);
}

.side-menu .menu-btn .line.line--1.line-cross {
  width: 30px;
  transform: rotate(45deg) translateY(10px);
  background: #A7A7A7;
}

.side-menu .menu-btn .line.line--2 {
  width: 28px;
  transform: translateX(0);
}

.side-menu .menu-btn .line.line--2.line-fade-out {
  width: 28px;
  transform: translate(30px);
  opacity: 0;
}

.side-menu .menu-btn .line.line--3 {
  width: 20px;
  transform: rotate(0) translateY(0);
}

.side-menu .menu-btn .line.line--3.line-cross {
  width: 30px;
  transform: rotate(-45deg) translateY(-10px);
  background: #A7A7A7;
}
.side-menu .nav-links {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

.side-menu .nav-links.fade-in {
  opacity: 1;
  transform: translateX(0px);
}

.side-menu .nav-links .link {
  color: #A7A7A7;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

.side-menu .nav-links .link:hover {
  color: rgba(0, 0, 0, .5);
}
.side-menu > ul ul {
  display:none;
  position:absolute;
  top:100%;
  white-space:nowrap; /*줄바꿈 방지*/
  left:0;
  right:0;
/*   transform:translate(-50%); */
  background-color:RGBA(34,34,34,1);
  z-index:100;
}
.side-menu  ul > li a {
  position: relative;
  padding: 20px 10px; 
  width:100%;
  transition: all .2s;
  overflow: hidden; 
}
.side-menu  ul > ul > li a {
  display:flex;
  justify-content:center;
  position: relative;
  width:100%;
  transition: all .2s;
  overflow: hidden; 
}
.side-menu ul > li:hover a {
  color: #fff;
}
.side-menu ul > li a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background: RGBA(255,255,255,0.93);
  z-index: 99;
  transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
}
.side-menu ul > li a:hover::before {
  left: 100%;
}

.side-menu  ul > li a::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -4px;
  left: 100%;
  width: 100%;
  height: 4px;
  background: #eb2141;
  transition: all .3s;
  transition-delay: .4s;
}
.side-menu ul > li a:hover::after {
  left: 0%;
}
.side-menu  ul > li:hover > ul {
  display:block;
} 
/* side-bar end */

/* menu-box start*/
.head-bar{
  background-color:RGBA(34,34,34,0.9);
  height:auto;
  position: fixed;
  left:0;
  right:0;
  padding-left: 20px;
  padding-right: 20px;
  z-index:11;
}
.menu-box {
  width:60%;
}
.menu-box > ul li a  {
  display:flex;
  padding-top: 20px;
  padding-bottom:20px;
  font-size:20px;
/*   color: #D6D6D6; */
}
.menu-box > ul > li li a{
  padding-left: 20px;
  padding-right: 20px;
}
.menu-box > ul > li {  
  width:calc(100%/4);
  justify-content:center;
}
.head-bar ul > li{
  position:relative;
  display:flex;
}
.menu-box > ul ul {
  display:none;
  position:absolute;
  top:100%;
  white-space:nowrap; /*줄바꿈 방지*/
  left: 0;
  right:0;
/*   transform:translate(-50%); */
  background-color:RGBA(34,34,34,0.9);
  z-index:100;
}
.head-bar  ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*   max-width: 600px; */
  height: 100%;
  margin: 0 auto;
}

.head-bar  ul > li a {
  display:flex;
  justify-content:center;
  text-decoration: none;
  position: relative;
  width:100%;
  transition: all .2s;
  overflow: hidden; 
}
.head-bar  ul > li:hover a {
  color: #fff;
}
.head-bar  ul > li a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background: RGBA(255,255,255,0.5);
  z-index: 99;
  transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
}
.head-bar  ul > li a:hover::before {
  left: 100%;
}

.head-bar  ul > li a::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-top: -4px;
  left: 100%;
  width: 100%;
  height: 4px;
  background: #eb2141;
  transition: all .3s;
  transition-delay: .4s;
}
.head-bar  ul > li a:hover::after {
  left: 0%;
}
/* .head-bar  ul > li:hover > a {
color:red;
font-size:25px;
font-weight:bold;
}  */
.head-bar  ul > li:hover > ul {
  display:block;
} 
/* menu-box end*/

/* search-box start*/
.search {
  display: table;
  padding:4px;
}
.search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  font-family: 'Mukta Malar';
  transition: all 0.6s ease;
  cursor: pointer;
  color: #fff;
}
.search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}
.search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s ease;
}
.search input:not(:placeholder-shown), .search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:placeholder-shown) + div svg, .search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
::selection {
  background: rgba(255, 255, 255, 0.2);
}
::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}
div>.head-bar > search  html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
div>.head-bar > search * {
  box-sizing: inherit;
}
div>.head-bar > search *:before, *:after {
  box-sizing: inherit;
}
div>.head-bar > search body {
  min-height: 100vh;
  font-family: 'Mukta Malar', Arial;
  background: #F3628D;
  display: flex;
  justify-content: center;
  align-items: center;
}
div>.head-bar > search .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
div>.head-bar > search .dribbble img {
  display: block;
  width: 76px;
}
/* search-box end*/

/* blog naming start */
naming{
  margin-top:100px;
  z-index:-1;
  position:fixed;
  width: 100%;
  overflow: hidden;
  user-select: none;
  align-items: center;
  justify-content: center;
  /*   background: radial-gradient(#1a1a1a, #000); */
}
naming h1 {
  font: 300 50px/1 courier;
  white-space: nowrap;
  /*   color: whitesmoke; */
}
naming span {
  display: inline-block;
  animation: stretch 2.5s cubic-bezier(0.4, 1.4, 0.75, 0.9) infinite;
  transform-origin: center;
}
naming span:nth-of-type(1) {
  animation-delay: 0.25s;
}
naming span:nth-of-type(2) {
  animation-delay: 0.5s;
}
naming span:nth-of-type(3) {
  animation-delay: 0.75s;
}
naming span:nth-of-type(4) {
  animation-delay: 1s;
}
naming span:nth-of-type(5) {
  animation-delay: 1.25s;
}
naming span:nth-of-type(6) {
  animation-delay: 1.5s;
}
naming span:nth-of-type(7) {
  animation-delay: 1.75s;
}
naming span:nth-of-type(8) {
  animation-delay: 2s;
}
naming span:nth-of-type(9) {
  animation-delay: 2.25s;
}
naming span:nth-of-type(10) {
  animation-delay: 2.5s;
}
@keyframes stretch {
  5% {
    transform: scaleX(5000);
    opacity: 0.1;
  }
  15% {
    transform: scaleX(1);
    opacity: 1;
  }
}

/* scroll out start */
.body-box{
  background-color:white;  
  margin-top: 150px;
  width:100%;
  /*   z-index:0; */
}
.intro-section {
  text-align: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-section {
  --scroll-length: 2.5;
  height: calc(var(--scroll-length) * 100vh);
  width: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.content-section .content .subheading,
.content-section .content .paragraph {
  opacity: 1;
  opacity: calc(1 + var(--viewport-y));
}
.figure {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.figure > img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 35em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  padding: 2em;
  font-size: 2.5vmin;
}
.content * {
  text-shadow: 0 0 4vmin rgba(0, 0, 0, 0.25);
}
.content > .header {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  z-index: 10 !important;
}
.content > .paragraph {
  grid-row: 2 / 3;
  line-height: 1.5;  
  z-index: 10 !important;
}
.heading {
  font-size: 2.75em;
  margin: 0;
}
.subheading {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
/* ---------------------------------- */
.figure {
  --scale: calc(0.8 + (0.2 * var(--scroll-length) * var(--visible-y)));
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  overflow: hidden;
  will-change: transform;
  transform: scale(var(--scale));
}
.figure:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: calc(var(--visible-y));
}
.figure > img {
  display: block;
  will-change: transform;
  transform: scale(calc(1 / var(--scale)));
}
/* ---------------------------------- */
.char {
  display: inline-block;
  opacity: calc(1 + ((var(--viewport-y) * 1.5) - var(--char-percent)));
}
*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}
.heading,
.intro-heading {
  font-weight: 700;
}
.total-box,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.05;
  font-weight: 400;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

/* arrow down start */
.arrow-down{
  display:flex;
  position:fixed;
  align-items: flex-end;
  justify-content: center;
  height: 93vh;
  width:100%;
  z-index:2;
}
.arrow-down > a span{  
}
.arrow-down span{
  font-weight:bold;
  display: flex;
  width: 1.5em;
  height: 1.5em;
  border-bottom: 1px solid #A7A7A7;
  border-right: 1px solid #A7A7A7;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate-arrows 2s infinite;
}
@keyframes animate-arrows{
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-1.5em, -1.5em);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(1.5em, 1.5em);
  }
}
.arrow-down span:nth-child(1){
  animation-delay: -0.2s;
}
.arrow-down span:nth-child(2){
  animation-delay: -0.4s;
}
.arrow-down span:nth-child(3){
  animation-delay: -0.6s;
}

/* 로고 시작 */
.logo {
  font-size:3rem;
  padding:40px 0;
}

.logo--mini{
  font-size:2rem;
}

/* 로고 끝 */

/* 로고바 시작 */
.logo-bar {
  background-color:black;
  color:white;
}
/* 로고바 끝 */


/* 타이틀 바 시작 */
.title-bar {
  margin-top:100px;
}
/* 타이틀 바 끝 */

/* 하단 바 시작 */
.bottom-bar {
  margin-top:30px;
  background-color:black;
  color:white;
}

.bottom-bar__site-info {
  padding-left:20px;
  max-width: 800px;
}
/* 하단 바 끝 */


/* 페이징 */
.page{ /* background:url(https://i1.daumcdn.net/deco/contents/horizontalrule/line03.gif?v=2) repeat-x scroll left;
  height: 0px;
  justify-content:center;
  :6px;   */
  margin-top:10px;
}
.page > .page-no > a {
  padding:7px;
}
.page > .page-no > a {
  justify-content:center;
  min-width:15px;
  border: 1px solid transparent;
}
.page > .page-no:not(:first-child):not(:last-child):hover > a {
  color: red;
  border-color: #afafaf;
}
.selected {
  color:red;
}
/* 페이징끝 */

/* 게시물 리스트 */

.article-list__cell-title> nav{
  display:none;
}
:root {
  --article-list__cell-id__width:60px;
  --article-list__cell-reg-date__width:150px;
  --article-list__cell-writer__width:120px;
  --article-list__cell-rcm__width:60px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width) - var(--article-list__cell-rcm__width));
}
.total-box{  
  height:100vh;
}

.article-list > .header > div{
  position:relative;
}
.article-list__cell-title > nav{
  margin-top: 7px;
}
.article-list > .header > div::before{
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
  width:1px;
  height:10px;
  background-color:black;
}
.article-list > .header > div > div {
  position:relative;
}

.article-list > .header > div > div::after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:1px;
  height:10px;
  background-color:black;
}

.article-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-rcm {
  width:var(--article-list__cell-rcm__width);
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list > main .article-list__cell-title {
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  height:auto;
}
.article-list > main{
  border-top:1px solid black;
}

.article-list > main > div {
  border-bottom:1px solid black;
}

/* detail page start */
.detail-box>div{
  max-width:850px;
  padding-left: 2%;
  padding-right: 2%; 
}
.article-detail__body{  
  width:100%;
  padding-left: 2%;
  padding-right: 2%; 
}

.detail-box .title{
  padding: 10px 0;
  font-size:2rem;
  font-weight:bold;
  color: #393939;
}
.detail-box > div > info {
  padding:0 5px;  
  /*     color: #393939; */
  font-weight:bold;
}
.detail-box > div > info > ul {
  flex-wrap:wrap;
}

.detail-box > div > info > ul > li:nth-child(3) {
  display:flex;
  width:100%;
}
.detail-box > div > info > ul > li{
  margin:10px 5px;
  padding: 0 
}
.detail-box > div > contents {
  padding:10px 10px;
  border-bottom:2px solid;
  border-top:2px solid;
  min-height: 100px;
}
.detail-box > div > bottom {
  margin-top: 10px;
}
.detail-box > div > bottom > ul > li:nth-child(n+3){
  display:flex;
  flex-basis:65px;
  justify-content:center;  
}

/* detail page end */

@media ( max-width:769px ) {
  .side-menu{
    display:flex;
  }
  .visible-md-up {
    display:none;
  }
  .con-min-width {
    min-width: 739px;
  }

  .article-detail__body{
    width:auto;
  }
  .bottom-bar {
    width: auto;
  }
  .article-list__title, .article-list__cell-rcm, .article-list__cell-id, .article-list__cell-writer, .article-list__cell-reg-date {
    display:none;
  }
  .article-list__cell-title{
    font-size:15px;
    width:100%!important;
  }
  .article-list__cell-title>.article-list__cell-writer1,.article-list__cell-title> .article-list__cell-reg-date1{
    display:flex;
    font-size:11px!important;
  } 
  .article-list__cell-title> nav{
    display:flex!important;
    justify-content: space-between;
  }
  naming h1{
    font-size:40px;
  }
  @media(max-width:426px){
    .con-min-width {
      min-width: 400px;
    }
    .detail-box .title{
      font-size: 22px!important;
    }
    .information > ul  li, bottom > ul li{
      font-size: 12px!important;
    }
  }
  @media(max-width:376px){
    .con-min-width {
      min-width: 340px!important;
    }
    .detail-box .title{
      font-size: 22px!important;
    }
    .information > ul  li, bottom > ul li{
      font-size: 12px!important;
    }
  }
  @media(max-width:320px){
    .con-min-width {
      min-width: 300px!important;
    }
    .detail-box .title{
      font-size: 22px!important;
    }
    .information > ul  li, bottom > ul li{
      font-size: 12px!important;
    }
  }
}