/* 폰트 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
html, .tui-editor-contents {
  font-family: 'LotteMartDream', sans-serif !important;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

/* 라이브러리 */
.flex{
  display:flex;
}
.flex-jc-c{
  justify-content:center
}
.flex-ai-c{
  align-items:center;
}
.flex-ai-end{
  align-items:flex-end;
}
.flex-jc-end{
  justify-content:flex-end;
}
.flex-dr-r{
  flex-direction:row;
}
.flex-dr-c{
  flex-direction:column;
}
.flex-g-1{
  flex-grow:1;
}
.flex-jc-start{
  justify-content:flex-start;
}
.hover-underline:hover {
  text-decoration:underline;
}
.width-100p{
  height:100%;
}
.min-height-100vh{
  min-height:100vh;
}
.con {
  margin-left:auto;
  margin-right:auto;
}

.bg-black {
  background-color:black;
}
.bg-pink{
  background-color:pink;
}
.bl-r{
  border: 2px solid red;
}

.color-white {
  color:white;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.width-100p-except-150px {
  width:calc(100% - 150px);
}

.width-100p-except-200px {
  width:calc(100% - 200px);
}

.width-100p-except-250px {
  width:calc(100% - 250px);
}

.width-100p-except-300px {
  width:calc(100% - 300px);
}


/* 커스텀 */
i {
  margin-right:7px;
}
.con-min-width {
  min-width:1200px;
}

.con {
  width:1200px;
}

/* 로고 시작 */
.logo {
  font-size:3rem;
  padding:40px 0;
}

.logo--mini{
  font-size:2rem;
}

/* 로고 끝 */

/* 로고바 시작 */
.logo-bar {
  background-color:black;
  color:white;
}
/* 로고바 끝 */

/* 메뉴바 시작 */
.menu-bar {
  background-color:black;
  color:white;
}
/* 메뉴바 끝 */

/* 메뉴바 - 메뉴1 시작 */
.menu-bar__menu-1 ul > li {
  position:relative;
}

.menu-bar__menu-1 > ul > li {
  width:25%;
}

.menu-bar__menu-1 ul > li > a {
  text-align:center;
  padding:20px 0;
}

.menu-bar__menu-1 > ul > li > a {
  border-radius:10px 10px 0 0;
}

.menu-bar__menu-1 ul > li:hover > a {
  background-color:white;
  color:black;
}

.menu-bar__menu-1 > ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:-10px;
  width:100%;
  background-color:black;
  color:white;
  border:10px solid black;
  border-top-width:0;
  border-radius:0 0 15px 15px;
  z-index: 10;
}

.menu-bar__menu-1 ul > li:hover > ul {
  display:block;
}

.menu-bar__menu-1 > ul ul > li:last-child > a {
  border-radius:0 0 10px 10px;
}
/* 메뉴바 - 메뉴1 끝 */

/* 타이틀 바 시작 */
.title-bar {
  margin-top:30px;
  margin-bottom:30px;
}
/* 타이틀 바 끝 */

/* 하단 바 시작 */
.bottom-bar {
  margin-top:30px;
  background-color:black;
  color:white;
}

.bottom-bar__site-info {
  padding-left:20px;
}
/* 하단 바 끝 */
/* 메인화면크기 */

.article-box{
/*   min-height:470px; */
}

/* 페이징 */
 .page{ /* background:url(https://i1.daumcdn.net/deco/contents/horizontalrule/line03.gif?v=2) repeat-x scroll left;
  height: 0px;
  justify-content:center;
  :6px;   */
   margin-top:10px;
}
.page > .page-no > a {
  padding:7px;
}
.page > .page-no > a {
  justify-content:center;
  min-width:15px;
  border: 1px solid transparent;
}
.page > .page-no:not(:first-child):not(:last-child):hover > a {
	color: red;
  border-color: #afafaf;
	}
.selected {
  color:red;
}
/* 페이징끝 */

/* 게시물 리스트 */
:root {
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-rcm__width:100px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width) - var(--article-list__cell-rcm__width));
}
.article-list{
  width:1100px;
} 
.article-list > header > div{
  position:relative;
}
.article-list > header > div::before{
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
  width:1px;
  height:10px;
  background-color:black;
}
.article-list > header > div > div {
  position:relative;
}

.article-list > header > div > div::after {
  content:"";
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  right:0;
  width:1px;
  height:10px;
  background-color:black;
}

.article-list > * > div > div {
  box-sizing:border-box;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
}

.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date {
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-rcm {
  width:var(--article-list__cell-rcm__width);
}

.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list > main .article-list__cell-title {
  text-align:left;
  padding-left:10px;
  height:auto;
}
.article-list > main{
  border-top:1px solid black;
}
.article-list > main > div {
  border-bottom:1px solid black;
}

/* detail page start */
.article-detail__body{
  width:800px;
}
.detail-box > div{
  width: 900px;
}
.title{
  font-size:2rem;
  font-weight:bold;
}
.detail-box > div > info {
  padding:10px 5px;  
}
.detail-box > div > info > ul {
  flex-wrap:wrap;
}

.detail-box > div > info > ul > li:nth-child(3) {
  display:flex;
  width:100%;
}
.detail-box > div > info > ul > li{
  margin:10px 5px;
  padding: 0 
}
.detail-box > div > contents {
  padding:10px 30px;
  border-bottom:2px solid;
  border-top:2px solid;
  min-height: 100px;
}
.detail-box > div > bottom {
	margin-top: 10px;
}
.detail-box > div > bottom > ul > li:nth-child(n+3){
  display:flex;
  flex-basis:65px;
  justify-content:center;  
}
.none{
	display:none;
}
/* detail page end */
